<section class="hero is-link is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">
        <p class="title">
          A coffee experience you will never have.
        </p>
      </div>
    </div>
  </section>
  <section class="hero is-info is-large">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Gallery
          </h1>
          <h2 class="subtitle">
            A sample picture for our coffees
          </h2>
        </div>
      </div>
    </section>