
<section class="hero is-link is-fullheight-with-navbar">
    <div class="hero-body" style="background-image: url('https://images.unsplash.com/photo-1525480122447-64809d765ec4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80'); background-position: 70% 56%;  ">
      <div class="container">
        <p class="title">
          A coffee experience you will never have.
        </p>
      </div>
    </div>
  </section>
 
    <section class="section">
      <div class="container">
        <h1 class="title has-text-centered">About the project</h1>
        <h2 class="subtitle has-text-centered">
          This project is aimed for people who wants coffee on the go, with this web app you can search nearby coffee shops and interact with   people like on other social media platforms while enjoying your cup of coffee.
        </h2>
      </div>
    </section>
  